.container {
  font-family: Arial, sans-serif;
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.icon-cart {
  font-size: 24px;
}

.nut {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.col-3 input {
  width: 50px;
  height: 40px;
  text-align: center;
}
.col-4{
  font-size: 20px;
}
.alt{
  font-size: 30px;
}
.col-lg-5{
  font-size: 20px;
}
.title-card{
  font-size: 30px;
}
@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
